<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzfyrw.system.repository.mapper.SysRoleMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzzfyrw.zzzfyrw.system.repository.entity.SysRoleEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="row_status" property="rowStatus" />
        <result column="has_open" property="hasOpen" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_user" property="createdUser" />
        <result column="updated_user" property="updatedUser" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, row_status, has_open, created_time, updated_time, created_user, updated_user, description
    </sql>

</mapper>
